{{ form_start(form) }}
    {{ form_widget(form) }}
     <div class="col-md-2">
        <button class="btn btn-success"  style="width:100%;">{{ button_label|default('Sauvegarder') }}</button>
     </div>   
{{ form_end(form) }}
