{% extends 'base.html.twig' %}

{% block title %}Nouveau véhicule{% endblock %}

{% block body %}
    <h1 class="h2 text-center pt-4 mb-4">Ajouter un véhicule</h1>
    {{ include('vehicule/_form.html.twig') }}
    <br><br><br>
{% endblock %}
