{% extends 'base.html.twig' %}

{% block title %}Modifier Location{% endblock %}

{% block body %}
    <h1 class="text-center h2 pt-4 mb-4">Modifier Location</h1>
    {{ include('location/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br><br>
{% endblock %}
