{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}
    <h1 class="pt-4 mb-4 text-center h2">Ajouter une location</h1>
 
    {{ include('location/_form.html.twig') }}
{% endblock %}
