{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}
    <h1>Ajouter une Location</h1>

    {{ include('location/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('location_index') }}">Retour</a>
{% endblock %}
