{% extends 'base.html.twig' %}

{% block title %}Modifier Depenses{% endblock %}

{% block body %}
    <h1 class="text-center h2 pt-4 mb-4">Modifier une Dépense</h1>
    {{ include('depenses/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br><br>
{% endblock %}
