{% extends 'base.html.twig' %}

{% block title %}New Depenses{% endblock %}

{% block body %}
    <h1 class="pt-4 mb-4 text-center h2">Ajouter une dépense</h1>

    {{ include('depenses/_form.html.twig') }}
{% endblock %}
