{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <h1 class="pt-4 mb-4 h2 text-center">Modifier Utilisateur</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }} 
{% endblock %}
