{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1 class="h2 text-center pt-4 mb-4">Ajouter Un Utilisateur</h1>

    {{ include('user/_form.html.twig') }}

{% endblock %}
